<header>
  <div class="top-bar">
    <span><a href="#">Acesse sua Conta</a> ou <a href="#">Cadastre-se</a></span>
  </div>
  <div class="header-content">
    <div class="hamburger" id="hamburger">
      <i class="fas fa-bars"></i>
    </div>
    <img src="./media/logo.png" alt="Webjump Logo" />
    <div class="search-field">
      <input type="text" class="search" />
      <button>BUSCAR</button>
    </div>
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </div>
  <nav class="main-nav" id="main-nav">
    <ul id="category-list-header">
      <li><a href="index.html">Página Inicial</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </nav>
</header>
<script src="../js/hambuguerMenu.js" defer></script>
<script src="../js/main.js" defer></script>

